@model LibraryProjectWebSite.Models.LibraryViewModel
@foreach (var borrow in Model.Borrows)
{
    <tr style="text-align:center">
        <td>
            <div class="d-flex flex-nowrap align-items-center">

                <img style="width:%22;" src=@($"https://covers.openlibrary.org/b/isbn/{borrow.Book.ISBN10}-M.jpg")
                     alt="course"
                     class="avatar-img rounded">
                <span class="overlay__content"></span>
            </div>
        </td>
        <td>
            @(borrow.Status==0?"User will recieve book": "The book on user")
        </td>
        <td>
            @borrow.Book.Name
        </td>

        <td>
            @borrow.User.Name @borrow.User.Surname
        </td>
        <td>
           @borrow.BorrowDate.ToString("dd/MM/yyyy")
        </td>
        <td>
            <input style="width:100px" class="comment" type="text" />
        </td>
        <td>
            <a data-userid="@borrow.User.Id" data-status="@borrow.Status" href="javascript:;" data-id="@borrow.BookId" onclick="index.approveBorrow(this)">
                <i style="line-height: 2;display:inline" class="far fa-thumbs-up"></i>
            </a>
        </td>
    </tr>
}