@model LibraryProjectWebSite.Models.LibraryViewModel
@foreach (var comment in Model.Comments)
{
    <div class="media">
        <div class="media-left mr-12pt">
            <p
               class="avatar avatar-sm">
                <span class="avatar-title rounded-circle">FU</span>
            </p>
        </div>
        <div class="media-body d-flex flex-column">
            <div class="d-flex align-items-center">
                <p 
                   class="card-title">@comment.User.Name @comment.User.Surname </p>
                <small class="ml-auto text-muted">@((DateTime.Now - comment.Date.AddHours(9)).Hours) Hours @((DateTime.Now - comment.Date.AddHours(9)).Minutes) Minutes Ago</small><br>
            </div>
            <p class="mt-1 mb-0 text-70">@comment.CommentString</p>
            <table>
                <tr>
                    <a style="width:15%" href="javascript:;" data-id="@comment.Id" onclick="index.approveComment(this)">
                        <i style="line-height: 2;display:inline" class="far fa-thumbs-up"></i>
                    </a>
                </tr>
                <tr>
                    <a style="margin-top:-23px;width:33%;margin-left:18px;" href="javascript:;" data-id="@comment.Id" onclick="index.removeComment(this)">
                        <i style="margin-left: 20px; display:inline;   margin-top: -20px;" class="far fa-trash-alt"></i>
                    </a>
                </tr>
            </table>
        </div>

    </div>
    <br>
}