@model LibraryProjectWebSite.Models.LibraryViewModel
@if (ViewBag.Role == "user" || ViewBag.isLoggedIn == false)
{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
else if (ViewBag.Role == "officer")
{
    Layout = "~/Views/Shared/_LayoutOfficer.cshtml";

}


<!-- // END Navbar -->
<!-- // END Header -->

<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Book Details</h2>

            </div>
        </div>


    </div>
</div>

<!-- BEFORE Page Content -->
<!-- // END BEFORE Page Content -->
<!-- Page Content -->

<div class="container page__container">
    <div style="padding-top: 3rem;" class="page-section">

        <div class="row mb-lg-8pt">
            <div class="col-lg-8">

                <div class="page-separator">
                    <div class="page-separator__text">Overview</div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="card ">
                            <div class="card-header pb-0 border-0 d-flex">
                                <div class="flex">
                                    <div class="h2 mb-0">
                                        <div>
                                            @Model.Book.Name
                                        </div>
                                        <div style="text-align:right">
                                            @if (ViewBag.isLoggedIn == true)
                                            {
                                                using (Html.BeginForm("AddUserFavouriteBooks", "Home", FormMethod.Post, new { @style = "margin-top: -120px;margin-bottom: 25px;" }))
                                                {
                                                    <a style=" margin-left: 12.25rem!important;font-size:34px" name="bookId" value="@Model.Book.Id"
                                                       data-toggle="tooltip"
                                                       data-title="Add Favourite"
                                                       data-placement="top"
                                                       data-boundary="window"
                                                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite_border</a>
                                                }
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="card-body col-md-12">
                                <div style="text-align: center" class="col-md-12 col-lg-12 col-sm-12">
                                    <img style="width: 175px" src="https://covers.openlibrary.org/b/isbn/@Model.Book.ISBN10-M.jpg" alt="">
                                </div>
                                <div style="margin-top: 40px" class="col-md-12 col-lg-12 col-sm-12">
                                    <strong>
                                        @Model.Book.Description
                                    </strong>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-lg-4">

                <div class="page-separator">
                    <div class="page-separator__text">About</div>
                </div>

                <div class="card">


                    <div class="card-body">
                        <div class="col-md-6">
                            <strong>Writer:</strong>
                            @foreach (var author in Model.Book.Authors)
                            {
                                <p>@author.Name</p>
                            }
                            <strong>Category:</strong>
                            @if (Model.Book.Categories.Any() == false)
                            {
                                <p>Unknown</p>
                            }
                            @foreach (var category in Model.Book.Categories)
                            {
                                <p>@category.Name</p>
                            }
                            <strong>Language</strong>
                            <p>@(Model.Book.Language!=null ? $"{Model.Book.Language}" : "Unknown")</p>
                            <strong>Publisher</strong>
                            <p>@Model.Book.Publisher</p>
                            <strong>Revision</strong>
                            <p>@Model.Book.Revision</p>
                        </div>
                        <div class="col-md-6">
                            <strong>Latest Revision</strong>
                            <p>@Model.Book.LatestRevision</p>
                            <strong>ISBN10</strong>
                            <p>@Model.Book.ISBN10</p>
                            <strong>ISBN13</strong>
                            <p>@Model.Book.ISBN13</p>
                            <strong>Page Number</strong>
                            <p>@Model.Book.NumberOfPages</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>


            @if (ViewBag.doesHaveLibrary != false && ViewBag.Role == "user" && ViewBag.doesHaveAlready != true)
            {
                <label style="font-size: 19px" for="library">Choose A Library To Borrow:</label>
                using (Html.BeginForm("Borrow", "Home", FormMethod.Post))
                {
                    <div style="font-size: 19px; display: flex; margin-left: -5px; margin-right: -5px;">
                        <input type="hidden" name="libraryViewModel.Borrow.BookId" value="@Model.Book.Id" />

                        <div style="flex: 50%; padding: 5px;">


                            <table style="width:100%">
                                <tr>
                                    <td>@Html.LabelFor(m => m.Borrow.BorrowDate, "Select Borrow Date")</td>
                                </tr>
                                <tr>
                                    <td><input class="form-control datepicker" type="date" name="libraryViewModel.Borrow.BorrowDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(3).ToString("yyyy-MM-dd")"></td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(m => m.Borrow.ReturnDate, "Select Return Date")</td>
                                </tr>
                                <tr>
                                    <td><input class="form-control datepicker" type="date" name="libraryViewModel.Borrow.ReturnDate" min="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(17).ToString("yyyy-MM-dd")"></td>
                                </tr>
                                <tr>
                                    <td> @Html.LabelFor(m => m.Borrow.LibraryId, "Select a library")</td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control" name="libraryViewModel.Borrow.LibraryId">
                                            @foreach (var library in Model.Book.Libraries)
                                            {
                                                <option value=@library.Id>@library.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="flex: 50%; padding: 5px;margin-left:30px;">
                            <table style="width:100%">
                                <tr>
                                    <td>  @Html.Label("Select borrow type")</td>
                                </tr>
                                <tr>
                                    <td onclick="show()">
                                        <input type="radio" name="libraryViewModel.Borrow.BorrowType" value="cargo">
                                        @Html.Label("Cargo")
                                    </td>
                                </tr>
                                <tr>
                                    <td onclick="hide()">
                                        <input type="radio" name="libraryViewModel.Borrow.BorrowType" value="comeandrecieve">
                                        @Html.Label("Come And Recieve")
                                    </td>
                                </tr>
                                <tr style="display:none;" id="hold">
                                    <td>@Html.LabelFor(m => m.Borrow.DestinationAddress, "Write your address", new { @style = "margin-bottom:45px;" })</td>


                                    <td><input style="margin-left: -160px; margin-bottom: -42px; margin-top: 36px; width: 430px; height: 84px; " class="form-control" type="text" name="libraryViewModel.Borrow.DestinationAddress"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <input style="float:right;font-size: 15px;color: white;background-color: #303956;width: 125px;border-radius: 5px;" type="submit" value="Borrow">
                }
            }
            else if (ViewBag.Role == "user" && ViewBag.doesHaveAlready == true)
            {
                <table class="table table-hover table-striped">
                    <tr>
                        <p style=" font-size: 16px; font-weight: 600; border-bottom: 1px solid black;">**Information :The Book has already taken by you.**</p>
                    </tr>
                    <tr>
                        <th style="font-size: 16px; padding-right: 65px;">Library Name</th>
                        <th style="font-size: 16px; padding-right: 20px;">Borrow Date</th>
                        <th style=" font-size: 16px;">Return Date</th>
                    </tr>
                    <tr>
                        <td>@Model.Library.Name</td>
                        <td style="padding-left:18px;">@Model.Borrow.BorrowDate.ToString("MM/dd/yyyy")</td>
                        @if (Model.Borrow.ReturnDate != null)
                        {
                            <td style="padding-left:18px;">@Model.Borrow.ReturnDate.Value.ToString("MM/dd/yyyy")</td>
                        }
                    </tr>

                </table>
            }
            <br />

        </div>
        @if (Model.Comments.Any())
        {
            <div class="page-separator">
                <div class="page-separator__text">Comments</div>
            </div>

            <div class="card mb-0">

                <div class="table-responsive"
                     data-toggle="lists"
                     data-lists-sort-by="js-lists-values-date"
                     data-lists-sort-desc="true"
                     data-lists-values='["js-lists-values-name", "js-lists-values-company", "js-lists-values-phone", "js-lists-values-date"]'>

                    <table class="table mb-0 thead-border-top-0 table-nowrap">

                        <thead>
                            <tr>
                                <th>
                                    <a data-sort="js-lists-values-name">Name</a>
                                </th>
                                <th style="width: 48px;">
                                    <a data-sort="js-lists-values-phone">Comments</a>
                                </th>
                                <th style="width: 3px;"></th>
                                <th style="width:10%">
                                    Date
                                </th>

                            </tr>
                        </thead>
                        <tbody class="list"
                               id="contacts">
                            @foreach (var comment in Model.Comments)
                            {
                                <tr>
                                    <td>
                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-sm mr-8pt">

                                                <span class="avatar-title rounded-circle">@comment.User.Name.First()@comment.User.Surname.First()</span>

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex flex-column">
                                                    <p class="mb-0"><strong class="js-lists-values-name">@comment.User.Name @comment.User.Surname</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-phone text-50">@comment.CommentString</small>
                                    </td>
                                    <th style="width: 3px;"></th>
                                    <td>
                                        <small class="js-lists-values-phone text-50">@comment.Date.ToString("dd/MM/yyyy")</small>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
            </div>
        }

        <br>
        <div class="page-separator">
            <div class="page-separator__text">Add New Comments</div>
        </div>
        @if (ViewBag.isLoggedIn == true && ViewBag.Role == "user")
        {
            <div>
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="libraryViewModel.Comment.BookId" value="@Model.Book.Id" />
                    <textarea style="width: 915px;height: 115px;border-radius: 5px" name="libraryViewModel.Comment.CommentString" rows="10" cols="30"></textarea>
                    <input style="font-size: 15px;color: white;background-color: #303956;width: 125px;border-radius: 5px; float: right" type="submit" value="Send">
                }
            </div>
        }

    </div>
</div>
<script type="text/javascript">
    function show() {
        document.getElementById("hold").display = "block";
    }
</script>
@if (Model.alertMessage != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Model.alertMessage");
            };
    </script>
}